<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Decoded file</title>
</head>

<body>
    <center>
        <h1>Decoded File</h1>
        <h3>Decoded file is either displayed or downloaded automatically.</h3>
        <embed type="application/pdf" src="{{ filename }}" width="300" height="200">
        <br></br>
        <a href="/">Back to Home page</a>

    </center>
</body>

</html>