<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INDEX</title>
</head>

<body>
    <center>
        <h1>Encoded File</h1>
        <h3>Encoded file is displayed below: </h3>
        <img src="{{ user_image }}" alt="Mike" height="240px" width="300px">
        <br></br>
        <a href="/">Back to Home page</a>
    </center>
</body>

</html>